/* home */

.pjfjerbcm .OPjfjes92sw {
    float: left !important;
    margin-right: 4px !important;
}

.pjfjerbcm .OPjfjes92qa {
    text-align: center !important;
    margin-top: 8px !important;
}


/* selectrole */

.pje586krc .OPje58hmjei {
    margin: 20px;
}

.pje586krc .OPje58cvky {
    position: relative !important;
    box-shadow: 0px 4px 20px #b5daff !important;
    height: 64px !important;
    margin: 10px 20px 35px 20px !important;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    border-radius: 6px 6px 6px 6px !important;
}

.pje586krc .OPje58cvl6m {
    text-align: center !important;
    font-weight: bolder !important;
}

.pje586krc .OPje58hmj3 {
    position: relative !important;
    box-shadow: 0px 4px 20px #b5daff !important;
    height: 64px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-bottom: 35px !important;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    border-radius: 6px 6px 6px 6px !important;
}

.pje586krc .OPje58hmj4 {
    text-align: center !important;
    font-weight: bolder !important;
}

.pje586krc .OPje58hmjcm {
    position: relative !important;
    box-shadow: 0px 4px 20px #b5daff !important;
    height: 64px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-bottom: 35px !important;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    border-radius: 6px 6px 6px 6px !important;
}

.pje586krc .OPje58hmjcg {
    text-align: center !important;
    font-weight: bolder !important;
}

.pje586krc .OPje58hmjdu {
    position: relative !important;
    box-shadow: 0px 4px 20px #b5daff !important;
    height: 64px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-bottom: 0px !important;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    border-radius: 6px 6px 6px 6px !important;
}

.pje586krc .OPje58hmjbi {
    text-align: center !important;
    font-weight: bolder !important;
}


/* nodata */

.cjas25kxu.OPjauom4t5q {
    margin-top: 64px !important;
}
