.pjfjerbcm .OPjfjes92sw {
    float: left !important;
    max-width: calc(100% - 110px) !important;
    margin-right: 4px !important;
}

.pjfjerbcm .OPjfjes92tw {
    float: left !important;
    width: 100px !important;
    flex: 0 0 100px !important;
    margin-top: 2px !important;
}

.pjfjerbcm .OPjfjes92uc {
    float: left !important;
    max-width: calc(100% - 110px) !important;
    margin-right: 4px !important;
}

.pjfjerbcm .OPjfjes92vy {
    float: left !important;
    width: 100px !important;
    flex: 0 0 100px !important;
    margin-top: 2px !important;
}

.pjfjerbcm .OPjfjes92lw {
    float: left !important;
    max-width: calc(100% - 110px) !important;
    margin-right: 4px !important;
}

.pjfjerbcm .OPjfjes92yk {
    float: left !important;
    width: 100px !important;
    flex: 0 0 100px !important;
    margin-top: 2px !important;
}

.pjfjerbcm .OPjfjes92qa {
    text-align: center !important;
    margin-top: 8px !important;
}

.pjfq5heqt {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.pjfq5heqt .OPjfq655lfi {
    text-align: left !important;
}

.pjfq5heqt .OPjfq655l5 {
    font-weight: bold !important;
    line-height: 40px !important;
    font-size: 18px!important;
}

.pjfq5heqt .OPjfq655lgi {
    font-size: 20px !important;
    text-align: center !important;
    width: 30px !important;
    float: right !important;
    height: 30px !important;
    flex: 0 0 30px !important;
}

.pjfq5heqt .OPjfq6oqvg {
    float: none !important;
    min-height: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-style: none !important;
}

.pjfq5heqt .OPjfq6l7va {
    margin-right: 8px !important;
    margin-bottom: 8px !important;
    background-color: #ccc !important;
    color: #000!important;
    max-width: 80px;
}

.pjfq5heqt .OPjfq6l7v9 {
    margin-right: 8px !important;
    margin-bottom: 8px !important;
}

.pjfq5heqt .OPjfq6l7vhf {
    margin-right: 8px !important;
    margin-bottom: 8px !important;
}

.pjfkjzweq .OPjfuoyq8i {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.pjfkjzweq .OPjfuomkf9 {
    font-size: 16px !important;
}

.pjfkjzweq .OPjfuomkfer {
    text-align: center !important;
    font-size: 16px !important;
}

.pjfkjzweq .OPjfuomkfa {
    font-size: 16px !important;
}

.pjfkjzweq .OPjfupga9m {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.pjfkjzweq .OPjfvwnoja {
    display: flex !important;
}

.pjfkjzweq .OPjfvwwbg0 {
    text-align: right !important;
    flex: 3 1 0% !important;
    font-size: 16px !important;
    margin-right: 4px !important;
}

.pjfkjzweq .OPjfw6mhz6p {
    flex: 2 1 0% !important;
    float: left !important;
    text-align: left !important;
    font-size: 16px !important;
}

.pjfkjzweq .OPjfw6mhz0 {
    display: flex !important;
}

.pjfkjzweq .OPjfvwwbfz {
    text-align: right !important;
    flex: 3 1 0% !important;
    float: right !important;
    font-size: 16px !important;
    margin-right: 4px !important;
}

.pjfkjzweq .OPjfw6silj {
    float: left !important;
    flex: 2 1 0% !important;
    text-align: left !important;
    font-size: 16px !important;
}


/** hr-nomore-data**/

.sjas3qg14 .OPjfrxc9w7 {
    text-align: center !important;
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}


/*hr-readonly-form*/

.hr-view-attachment {
    color: #2196F3;
}

.text-info {
	font-size: 18px;
	margin : 10px 0px 15px 0px;
}

.text-info1 {
	font-size: 15px;
}
.text-info2{
	font-size: 15px;
	 text-align:right;
}
.text-info3 {
    color: #AB82FF!important;
}
.dshxq-ztjj {
   font-size: 13px;
   margin : 5px 0px 3px 0px;
   color: #92969c!important;
}

.dshxq-dwb {
	min-height:120px;
   font-size: 13px;
   margin : 5px 0px 3px 20px;
   color: #080808!important;
}

.syqlcck-lc {
	height: auth;
}

.OPjfweba2r {
    height: 46px !important;
}

.OPjfug8sw7 {
    width: 100% !important;
    flex: 0 0 100% !important;
    padding: 8px 12px !important;
}


.pjny82h3g .tje6w730g {
    margin-top: 8px;
}

.pjny82h3g .OPjny885v2 {
    border-style: none !important;
}

.pjny82h3g .OPjof5gpsi {
    float: left !important;
}

.pjny82h3g .OPjof5gpsng {
    float: right !important;
}

.pjo8bhbad .OPjo8bzlpx {
    height: 12px !important;
}

.pjo8bhbad .OPjo8bzlpy {
    margin-left: 12px !important;
    margin-right: 12px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.pjo8bhbad .OPjo8bzlq9d {
    display: inline-block !important;
    max-width: 50% !important;
    font-size: 16px !important;
}

.pjo8bhbad .OPjo8bzlqcn {
    display: inline-block !important;
    text-align: right !important;
    font-size: 14px !important;
    float: right !important;
}

.pjo8bhbad .OPjo8bzlqax {
    display: inline-block !important;
    text-align: right !important;
    float: right !important;
}

.pjo8bhbad .OPjo8bzlq9p {
    display: inline-block !important;
    text-align: right !important;
    font-size: 14px !important;
    float: right !important;
    margin-right: 4px !important;
}

.pjo8bhbad .OPjo8bzlqcl {
    display: inline-block !important;
    text-align: right !important;
    float: right !important;
}

.pjo8bhbad .OPjo8bzlq8c {
    margin-top: 8px !important;
    padding: 0px !important;
}

.pjo8bhbad .OPjo8bzlslw {
    margin-left: 0px !important;
    margin-top: 8px !important;
}

.pjo8bhbad .OPjo8bzlqan {
    margin-top: 8px !important;
}

.pjo8bhbad .cjateqq0t {
    margin-top: 120px !important;
}
.pjnwjoyut .OPjnxvvfo4 {
    background-color: #4D49FF !important;
}

.Oedgkesgsh {
    margin-top: 8px;
}

.pjnwjoyut .WEsdsgdgh {
    padding: 12px;
}

.pjnwjoyut .Fdasfdgwsd {
    margin-bottom: -32px;
}

.pjnwjoyut .OPjnvnv6d9 {
    background-color: #fff;
    position: relative;
    top: 32px;
    z-index: 10;
    padding: 12px;
}

.pjnve0mpe .OPjnvf00gev {
    border-color: #4D49FF !important;
    padding-left: 8px !important;
    border-left-style: solid !important;
    border-left-width: 3px !important;
}

.pjnve0mpe .Oidgsdgew {
    padding-top: 16px;
    padding-bottom: 16px;
}

.pjnve0mpe .Osfiefgdg {
    padding-top: 16px;
}

.pjnve0mpe .Odsagged {
    margin-left: 20px;
}

.pjnve0mpe .OSregsdwdsn {
    width: 100% !important;
    display: inline-block !important;
    background-color: #4D49FF !important;
    float: none !important;
    text-align: center !important;
    flex: 0 0 48% !important;
    border-radius: 0px 0px 0px 0px !important;
}

.pjogxq0rq .OPjogxzm5i {
    background-color: #4D49FF !important;
    width: 90% !important;
    text-align: center !important;
    flex: 0 0 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.pjnwjsd1z .OPjnwjzdt5 {
    height: 12px !important;
}

.pjnwjsd1z .OPjnwjzdt6 {
    padding: 16px 20px !important;
}

.pjnwjsd1z .OPjnwjzdtfo {
    padding: 0px !important;
    border-style: none !important;
}

.pjnwjsd1z .OPjnwjzdter {
    font-weight: bold !important;
    float: left !important;
}

.pjnwjsd1z .OPjnwjzdtje {
    margin-top: 8px !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnwjsd1z .OPjnwjzdtdq {
    margin-top: 12px !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnwjsd1z .OPjnwjzdtgy {
    font-size: 15px !important;
}

.pjnwjsd1z .OPjnwjzdtez {
    margin-top: 16px !important;
    margin-left: 0px !important;
    margin-bottom: 16px !important;
}

.pjnwjsd1z .OPjnwjzdtea {
    background-color: #F3F5F6 !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnwjsd1z .OPjnwjzdyee {
    background-color: #F3F5F6 !important;
    border-style: none !important;
}

.pjnwjsd1z .OPjnwjzdv2n {
    font-weight: bold !important;
}

.pjnwjsd1z .OPjnwjzdylp {
    background-color: #F3F5F6 !important;
    padding-top: 4px !important;
    border-style: none !important;
}

.pjnwjsd1z .OPjnxy6nkz {
    width: 100% !important;
    flex: 0 0 100% !important;
}

.pjnwjsd1z .OPjnwjzdtiq {
    background-color: #4D49FF !important;
    border-radius: 0px 0px 0px 0px !important;
    width: 100%;
    height: 44px;
    font-size: 18px !important;
}

.pjnvcjld4 .dsgfhksf {
    border: none !important;
}

.pjnwhikep .OCjnwhr6bj {
    width: 68px !important;
    height: 68px !important;
    flex: 0 0 68px !important;
    border-radius: 50% !important;
}

.pjnwhikep .OCjnwhr6bi {
    height: 12px !important;
}

.pjnwhikep .OCjnwhr6bzl {
    font-weight: normal !important;
}

.pjnwhikep .sjakwaao8.sdhhfshred {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #12122A !important;
    font-size: 18px !important;
}

.pjnwhikep .Ywkndgkhfd {
    padding: 20px !important;
}

/*******个人在线咨询********/

.pjnwiluu4 .OPjnwj1otw {
    height: 12px !important;
}

.pjnwiluu4 .OPjnxyat1ec {
    width: 100% !important;
    flex: 0 0 100% !important;
}

.pjnwiluu4 .OPjnxyat16 {
    background-color: #4D49FF !important;
    border-radius: 0px 0px 0px 0px !important;
    width: 100%;
    height: 44px;
    font-size: 18px !important;
}

.pjnwiluu4 .OCjnwj1ouae {
    height: 12px !important;
}

.pjnwiluu4 .OPjnwj1oubo {
    width: calc(100% - 79px);
}

.pjnwiluu4 .OPjnwj1okmj {
    min-width: 80px !important;
}

.pjnwiluu4 .OPjnwj1ougm {
    margin-top: 0px !important;
    width: 250px !important;
}

.pjnwiluu4 .OCjnwj1ouiq {
    margin-top: 0px !important;
}

.pjnwiluu4 .OPjnxy8lo9 {
    width: 100% !important;
    flex: 0 0 100% !important;
}

.pjnwiluu4 .OPjnwj1owt {
    height: 55px !important;
}

.pjnwiluu4 .OPjnwj1ouby {
    width: 100% !important;
}

.pjnwiluu4 .OCjnwj1ox5l {
    background-color: #4D49FF !important;
    border-radius: 0px 0px 0px 0px !important;
    width: 100% !important;
    height: 44px !important;
    font-size: 18px !important;
}

.pjnwiluu4 .skhsdaidas {
    width: 80%;
}

.pjnwiluu4 .sgejnegde {
    width: 20%;
}

.pjnwwnd0x .OPjnwxr6u2 {
    width: 100% !important;
    height: 236px !important;
    z-index: 99 !important;
    flex: 0 0 100% !important;
}

.pjnwwnd0x .OPjnwxr6u4 {
    margin-top: -20px !important;
    padding-left: 32px !important;
    padding-top: 12px !important;
    border-style: none !important;
}

.pjnwwnd0x .OCjnwxr6u4 {
    color: #062897 !important;
    font-weight: bold !important;
}

.pjnwwnd0x .OPjnwxr6u5 {
    color: #062897 !important;
    font-weight: bold !important;
}

.pjnwwnd0x .OCjnwxr6u5 {
    font-size: 12px !important;
    margin-top: 6px !important;
}

.pjnwwnd0x .OPjnwxr6v8x {
    min-height: 140px !important;
    margin: 32px 12px !important;
    border-radius: 5px 5px 5px 5px !important;
}

.pjnwwnd0x .OPjnwxr6vah {
    width: 113px !important;
    height: 32px !important;
    position: relative !important;
    top: -29px !important;
    flex: 0 0 113px !important;
    border-radius: 10px 10px 10px 10px !important;
}

.pjnwwnd0x .OPjnwxr6v9u {
    padding: 0px !important;
}

.pjnwwnd0x .OPjnwxr6vcr {
    font-size: 13px !important;
}

.pjnwwnd0x .OCjnwxr6vge {
    font-size: 13px !important;
}

.pjnwwnd0x .OCjnwxr6vfi {
    font-size: 13px !important;
}

.pjnwwnd0x .OCjnwxr6vqe {
    font-size: 13px !important;
}

.pjnwwnd0x .OCjnwxr6vsl {
    font-size: 13px !important;
}

.pjnwwnd0x .OPjnwxr6vvb {
    min-height: 140px !important;
    margin: 32px 12px !important;
    border-radius: 5px 5px 5px 5px !important;
}

.pjnwwnd0x .OCjnwxr6vid {
    width: 113px !important;
    height: 32px !important;
    position: relative !important;
    top: -29px !important;
    flex: 0 0 113px !important;
    border-radius: 10px 10px 10px 10px !important;
}

.pjnwwnd0x .OCjnwxr6wiz {
    padding: 0px !important;
}

.pjnwwnd0x .OPjnwxr6w0z {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

.pjnwwnd0x .OPjnwxr6vjz {
    font-size: 13px !important;
}

.pjnwwnd0x .OCjnwxr6x2u {
    min-height: 140px !important;
    margin: 32px 12px !important;
    border-radius: 5px 5px 5px 5px !important;
}

.pjnwwnd0x .OCjnwxr6wkb {
    width: 113px !important;
    height: 32px !important;
    position: relative !important;
    top: -29px !important;
    flex: 0 0 113px !important;
    border-radius: 10px 10px 10px 10px !important;
}

.pjnwwnd0x .OPjnwxr6x2k {
    padding: 0px !important;
}

.pjnwwnd0x .OPjnwxr6wvw {
    padding: 0px !important;
    border-style: none !important;
}

.pjnwwnd0x .OPjnwxr6x3x {
    display: inline-block !important;
    width: 30% !important;
    float: left !important;
    flex: 0 0 30% !important;
}

.pjnwwnd0x .OPjnwxr6x2y {
    height: 40px !important;
    border-width: 1px !important;
    border-style: none !important;
    border-radius: 0px 0px 0px 0px !important;
}

.pjnwwnd0x .OPjnwxr6x8l {
    display: inline-block !important;
    width: 30% !important;
    float: left !important;
    flex: 0 0 30% !important;
}

.pjnwwnd0x .OPjnwxr6x4w {
    height: 40px !important;
    border-width: 1px !important;
    border-style: none !important;
    border-radius: 0px 0px 0px 0px !important;
}

.pjnwwnd0x .OPjnwxr6x9v {
    display: inline-block !important;
    width: 40% !important;
    float: left !important;
    flex: 0 0 40% !important;
}

.pjnwwnd0x .OPjnwxr6xaw {
    display: inline-block !important;
    height: 40px !important;
    background-color: #4D49FF !important;
    border-radius: 0px 0px 0px 0px !important;
}

.pjnwwnd0x .cjarutg5r {
    margin-top: -20px !important;
}

/*******招聘种类css*********/

.pjnvcge1l.pjnv5iwrj {
    padding-bottom: 50px;
}

.pjnv5iwrj .OPjnvc2e04 {
    width: 100% !important;
    height: 175px !important;
    flex: 0 0 100% !important;
}

.pjnv5iwrj .OPjnv5zhcc {
    border-color: #4D49FF !important;
    font-size: 17px !important;
    font-weight: bold !important;
    margin-bottom: 12px !important;
    margin-top: 12px !important;
    padding-left: 8px !important;
    border-left-style: solid !important;
    border-left-width: 4px !important;
}

.pjnv5iwrj .OPjnv5zhcd {
    display: inline-block !important;
    text-align: right !important;
    float: right !important;
}

.pjnv5iwrj .OPjnv5zhcke {
    text-align: right !important;
    float: right !important;
    display: inline-block !important;
    color: #4D49FF !important;
}

.pjnv5iwrj .OPjnv5zhckp {
    text-align: right !important;
    display: inline-block !important;
    float: right !important;
    color: #4D49FF !important;
}

.pjnv5iwrj .OPjnv69xuc {
    font-size: 16px !important;
    text-align: left !important;
}

.pjnv5iwrj .OPjnv6bnlb {
    text-align: left !important;
    font-size: 16px !important;
}

.pjnv5iwrj .OPjnv6tw2c {
    border-color: #4D49FF !important;
    font-size: 17px !important;
    font-weight: bold !important;
    margin-bottom: 12px !important;
    margin-top: 12px !important;
    padding-left: 8px !important;
    border-left-style: solid !important;
    border-left-width: 4px !important;
}

.pjnv5iwrj .OPjnv6tw2mj {
    display: inline-block !important;
    text-align: right !important;
    float: right !important;
}

.pjnv5iwrj .OPjnv6tw2d {
    text-align: right !important;
    float: right !important;
    display: inline-block !important;
    color: #4D49FF !important;
}

.pjnv5iwrj .OPjnv6tw2la {
    text-align: right !important;
    display: inline-block !important;
    float: right !important;
    color: #4D49FF !important;
}

.pjnv5iwrj .OPjnv6tw2og {
    width: 38px !important;
    height: 38px !important;
    flex: 0 0 38px !important;
}

.pjnv5iwrj .OPjnv6tw3sb {
    margin-top: 8px !important;
}

.pjnv5iwrj .OPjnv6x0hk {
    width: 38px !important;
    height: 38px !important;
    flex: 0 0 38px !important;
}

.pjnv5iwrj .OPjnv6x0hvd {
    margin-top: 8px !important;
}

.pjnv5iwrj .OCjnv6x0hvc {
    width: 38px !important;
    height: 38px !important;
    flex: 0 0 38px !important;
}

.pjnv5iwrj .OPjnv6x0htt {
    margin-top: 8px !important;
}

.pjnv5iwrj .OPjnxyduh1 {
    width: 100% !important;
    flex: 0 0 100% !important;
}

.pjnv5iwrj .OPjnvboi6p {
    background-color: #4D49FF !important;
    border-radius: 0px 0px 0px 0px !important;
    height: 44px;
    width: 100%;
    font-size: 18px !important;
}

.pjnv5iwrj .OPjnvcajyxr,
.pjnv5iwrj .OTjnvccd3v {
    height: 16px !important;
}

.pjnvcruv4 .OPjnvdsfer {
    padding: 0px !important;
    border-style: none !important;
}

.pjnvcruv4 .cjateqq0t {
    text-align: center;
}

.pjnvcruv4 .OPjnvdsfeq {
    width: 100% !important;
    height: 128px !important;
    flex: 0 0 100% !important;
}

.pjnvcruv4 .OCjnvdsfer {
    font-size: 15px !important;
    font-weight: bold !important;
    margin-bottom: 0px !important;
}

.pjnvcruv4 .OPjnvdsffxt {
    text-align: right !important;
    float: right !important;
}

.pjnvcruv4 .OPjnvdsfg2q {
    text-align: right !important;
    float: right !important;
}

.pjnvcruv4 .OPjnvdsffrj {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.pjnvcruv4 .OPjnvdsfg1o {
    display: inline-block !important;
    width: 100% !important;
    flex: 0 0 100% !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnvcruv4 .OPjnvdsffvz {
    display: inline-block !important;
    width: 24% !important;
    float: left !important;
    text-align: left !important;
    flex: 0 0 24% !important;
    padding: 4px 0px !important;
    border-style: none !important;
}

.pjnvcruv4 .OPjny8hq7f {
    display: inline-block !important;
    float: left !important;
    margin-top: 4px !important;
}

.pjnvcruv4 .OPjnvdsfg0m {
    display: inline-block !important;
    text-align: left !important;
    float: left !important;
    font-size: 13px !important;
    margin-top: 2px !important;
    margin-left: 4px !important;
    max-width: 50px;
}

.pjnvcruv4 .OPjnvdsffyb {
    display: inline-block !important;
    width: 18% !important;
    text-align: left !important;
    float: left !important;
    flex: 0 0 18% !important;
    padding: 4px 0px !important;
    border-style: none !important;
}

.pjnvcruv4 .OPjnvdsfg4v {
    display: inline-block !important;
    float: left !important;
    text-align: left !important;
}

.pjnvcruv4 .OPjnvdsffzz {
    display: inline-block !important;
    text-align: left !important;
    float: left !important;
    font-size: 13px !important;
    margin-top: 2px !important;
    margin-left: 4px !important;
    max-width: 35px;
}

.pjnvcruv4 .OPjnvdsfg3y {
    display: inline-block !important;
    width: 55% !important;
    flex: 0 0 55% !important;
    padding: 4px 0px !important;
    border-style: none !important;
}

.pjnvcruv4 .OPjnvdsfg8y {
    display: inline-block !important;
    float: left !important;
    text-align: left !important;
}

.pjnvcruv4 .OPjnvdsfg7s {
    display: inline-block !important;
    text-align: left !important;
    float: left !important;
    font-size: 13px !important;
    margin-top: 2px !important;
    margin-left: 4px !important;
    max-width: 150px;
}

.pjnvcruv4 .OPjnvdsfg2g {
    font-size: 15px !important;
    font-weight: bold !important;
    margin-bottom: 0px !important;
}

.pjnvcruv4 .OPjnvdsfgkp {
    text-align: right !important;
    float: right !important;
}

.pjnvcruv4 .OPjnvdsfg6n {
    text-align: right !important;
    float: right !important;
}

.pjnvcruv4 .OPjnvdsfghl {
    margin-top: 4px !important;
    margin-bottom: 8px !important;
}

.pjnvcruv4 .OPjnvdsfgth {
    display: inline-block !important;
    width: 100% !important;
    flex: 0 0 100% !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnvcruv4 .OPjnvdsfgcj {
    display: inline-block !important;
    width: 24% !important;
    float: left !important;
    text-align: left !important;
    flex: 0 0 24% !important;
    padding: 4px 0px !important;
    border-style: none !important;
}

.pjnvcruv4 .OPjny8hq7g {
    display: inline-block !important;
    float: left !important;
    margin-top: 4px !important;
}

.pjnvcruv4 .OPjnvdsfgrm {
    display: inline-block !important;
    text-align: left !important;
    float: left !important;
    font-size: 13px !important;
    margin-top: 2px !important;
    margin-left: 4px !important;
}

.pjnvcruv4 .OPjnvdsfgoi {
    display: inline-block !important;
    width: 18% !important;
    text-align: left !important;
    float: left !important;
    flex: 0 0 18% !important;
    padding: 4px 0px !important;
    border-style: none !important;
}

.pjnvcruv4 .OPjnvdsfgjc {
    display: inline-block !important;
    float: left !important;
    text-align: left !important;
}

.pjnvcruv4 .OPjnvdsfgkj {
    display: inline-block !important;
    text-align: left !important;
    float: left !important;
    font-size: 13px !important;
    margin-top: 2px !important;
    margin-left: 4px !important;
}

.pjnvcruv4 .OPjnvdsfgjl {
    display: inline-block !important;
    width: 55% !important;
    flex: 0 0 55% !important;
    padding: 4px 0px !important;
    border-style: none !important;
}

.pjnvcruv4 .OPjnvdsfgbj {
    display: inline-block !important;
    float: left !important;
    text-align: left !important;
}

.pjnvcruv4 .OCjnvdsfggl {
    display: inline-block !important;
    text-align: left !important;
    float: left !important;
    font-size: 13px !important;
    margin-top: 2px !important;
    margin-left: 4px !important;
}

.pjnvcruv4 .OPjnvdsfgpz {
    font-size: 15px !important;
    font-weight: bold !important;
    margin-bottom: 0px !important;
}

.pjnvcruv4 .OPjnvdsfgxq {
    text-align: right !important;
    float: right !important;
}

.pjnvcruv4 .OPjnvdsfgpx {
    text-align: right !important;
    float: right !important;
}

.pjnvcruv4 .OPjnvdsfgse {
    margin-top: 4px !important;
    margin-bottom: 8px !important;
}

.pjnvcruv4 .OPjnvdsfh8w {
    display: inline-block !important;
    width: 100% !important;
    flex: 0 0 100% !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnvcruv4 .OPjnvdsfgut {
    display: inline-block !important;
    width: 24% !important;
    float: left !important;
    text-align: left !important;
    flex: 0 0 24% !important;
    padding: 4px 0px !important;
    border-style: none !important;
}

.pjnvcruv4 .OPjny8hq7kp {
    display: inline-block !important;
    float: left !important;
    margin-top: 4px !important;
}

.pjnvcruv4 .OPjnvdsfh2d {
    display: inline-block !important;
    text-align: left !important;
    float: left !important;
    font-size: 13px !important;
    margin-top: 2px !important;
    margin-left: 4px !important;
}

.pjnvcruv4 .OPjnvdsfgud {
    display: inline-block !important;
    width: 18% !important;
    text-align: left !important;
    float: left !important;
    flex: 0 0 18% !important;
    padding: 4px 0px !important;
    border-style: none !important;
}

.pjnvcruv4 .OPjnvdsfh3s {
    display: inline-block !important;
    float: left !important;
    text-align: left !important;
}

.pjnvcruv4 .OPjnvdsfgwh {
    display: inline-block !important;
    text-align: left !important;
    float: left !important;
    font-size: 13px !important;
    margin-top: 2px !important;
    margin-left: 4px !important;
}

.pjnvcruv4 .OPjnvdsfh0m {
    display: inline-block !important;
    width: 55% !important;
    flex: 0 0 55% !important;
    padding: 4px 0px !important;
    border-style: none !important;
}

.pjnvcruv4 .OPjnvdsfgzh {
    display: inline-block !important;
    float: left !important;
    text-align: left !important;
}

.pjnvcruv4 .OPjnvdsfh4i {
    display: inline-block !important;
    text-align: left !important;
    float: left !important;
    font-size: 13px !important;
    margin-top: 2px !important;
    margin-left: 4px !important;
}

.pjnvcruv4 .OCjnvdsfh3x {
    font-size: 15px !important;
    font-weight: bold !important;
    margin-bottom: 0px !important;
}

.pjnvcruv4 .OPjnvdsfh7n {
    text-align: right !important;
    float: right !important;
}

.pjnvcruv4 .OPjnvdsfh5a {
    text-align: right !important;
    float: right !important;
}

.pjnvcruv4 .OPjnvdsfhdl {
    margin-top: 4px !important;
    margin-bottom: 8px !important;
}

.pjnvcruv4 .OPjnvdsfmkh {
    display: inline-block !important;
    width: 100% !important;
    flex: 0 0 100% !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnvcruv4 .OPjnvdsfhea {
    display: inline-block !important;
    width: 24% !important;
    float: left !important;
    text-align: left !important;
    flex: 0 0 24% !important;
    padding: 4px 0px !important;
    border-style: none !important;
}

.pjnvcruv4 .OPjny8hq7lt {
    display: inline-block !important;
    float: left !important;
    margin-top: 4px !important;
}

.pjnvcruv4 .OPjnvdsfhaf {
    display: inline-block !important;
    text-align: left !important;
    float: left !important;
    font-size: 13px !important;
    margin-top: 2px !important;
    margin-left: 4px !important;
}

.pjnvcruv4 .OPjnvdsfhls {
    display: inline-block !important;
    width: 18% !important;
    text-align: left !important;
    float: left !important;
    flex: 0 0 18% !important;
    padding: 4px 0px !important;
    border-style: none !important;
}

.pjnvcruv4 .OPjnvdsfhcg {
    display: inline-block !important;
    float: left !important;
    text-align: left !important;
}

.pjnvcruv4 .OPjnvdsfhiw {
    display: inline-block !important;
    text-align: left !important;
    float: left !important;
    font-size: 13px !important;
    margin-top: 2px !important;
    margin-left: 4px !important;
}

.pjnvcruv4 .OPjnvdsfjtp {
    display: inline-block !important;
    width: 55% !important;
    flex: 0 0 55% !important;
    padding: 4px 0px !important;
    border-style: none !important;
}

.pjnvcruv4 .OPjnvdsfhfp {
    display: inline-block !important;
    float: left !important;
    text-align: left !important;
}

.pjnvcruv4 .OPjnvdsfjsi {
    display: inline-block !important;
    text-align: left !important;
    float: left !important;
    font-size: 13px !important;
    margin-top: 2px !important;
    margin-left: 4px !important;
}

/*** 简历信息css  ***/

.pjnve0mpe {
    padding-bottom: 45px;
}

.pjnve0mpe .pjnve0mpe2 {
    padding-bottom: 8px;
}

.pjnve0mpe .OPjnvf00g4 {
    padding-left: 20px !important;
    margin-top: 8px;
    margin-bottom: 8px;
}

.pjnve0mpe .OPjnvf00g5 {
    padding-left: 0px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.pjnve0mpe .OPjnvf00gek {
    font-weight: bold !important;
}

.pjnve0mpe .OPjnvf00gft {
    padding-left: 20px !important;
    padding-top: 12px !important;
}

.pjnve0mpe .OPjnvf00gil {
    padding: 12px 0px !important;
}

.pjnve0mpe .OPjnvf00ggd {
    margin-left: 20px !important;
    margin-bottom: 12px !important;
}

.pjnve0mpe .OPjnvjiwrk {
    margin: 0px !important;
    padding: 0px !important;
}

.pjnve0mpe .OPjnvgjdsc {
    text-align: right !important;
    z-index: 99 !important;
    position: relative !important;
    float: none !important;
    right: 20px !important;
    color: #4D49FF !important;
    height: 0px !important;
}

.pjnve0mpe .OCjnvjiwrl {
    margin-right: 0px !important;
    padding-left: 20px !important;
    padding-right: 0px !important;
}

.pjnve0mpe .OCjnvjiwv0x {
    margin-right: 0px !important;
    padding-left: 20px !important;
    padding-right: 0px !important;
}

.pjnve0mpe .OCjnvjiwuzz {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.pjnve0mpe .OCjnvjiwv0m {
    width: 80% !important;
    background-color: #ebe9ff !important;
    color: #4D49FF !important;
    flex: 0 0 80% !important;
    font-size: 14px !important;
}

.pjnve0mpe .OPjnvoxedo {
    text-align: center !important;
    width: 100%!important;
}

.pjnve0mpe .OPjnvlrpzx {
    width: 48% !important;
    display: inline-block !important;
    flex: 0 0 48% !important;
    border-radius: 0px 0px 0px 0px !important;
}

.pjnve0mpe .OSjnvlrpzx {
    width: 48% !important;
    display: inline-block !important;
    background-color: #4D49FF !important;
    float: none !important;
    text-align: center !important;
    flex: 0 0 48% !important;
    border-radius: 0px 0px 0px 0px !important;
}

.pjnve0mpe .IJdsfsdgkd {
    margin-top: 8px;
}

.pjnve0mpe .OPjnvnv6da {
    margin-right: 4px;
}

.pjnve0mpe .OPjnvnv6d9 {
    display: inline-block !important;
}

.pjnve0mpe .Sdsgmsdkhg {
    border-top-width: 1px !important;
    border-bottom-width: 1px !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
    padding: 12px!important;
    border-style: solid!important;
}

.pjnwgmjl2 .OPjnwhefoz {
    height: 12px !important;
}

.pjnwgmjl2 .OPjnwhefp0 {
    padding: 16px 20px !important;
}

.pjnwgmjl2 .OPjnwhefpfz {
    padding: 0px !important;
    border-style: none !important;
}

.pjnwgmjl2 .OPjnwhefpda {
    display: inline-block !important;
    float: right !important;
    margin-left: 8px !important;
    border-radius: 5px 5px 5px 5px !important;
}

.pjnwgmjl2 .OPjnwhefpeh {
    font-weight: bold !important;
    display: inline-block !important;
    float: left !important;
}

.pjnwgmjl2 .OPjnwhefpdt {
    margin-top: 4px !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnwgmjl2 .OPjnwhefpbk {
    margin-top: 12px !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnwgmjl2 .OPjnwhefpfq {
    font-size: 15px !important;
}

.pjnwgmjl2 .OPjnwhefpjo {
    text-align: center !important;
    float: none !important;
    margin-top: 12px !important;
}

.pjnwgmjl2 .OPjnwhefpcr {
    text-align: center !important;
}

.pjnwgmjl2 .OPjnwhefqzk {
    width: 80% !important;
    flex: 0 0 80% !important;
    border-radius: 2px 2px 2px 2px !important;
}

.pjnwgmjl2 .OPjnwhefpeo {
    text-align: center !important;
}

.pjnwgmjl2 .OPjnwhefvfz {
    width: 80% !important;
    background-color: #4D49FF !important;
    flex: 0 0 80% !important;
    border-radius: 2px 2px 2px 2px !important;
}

.pjnwgmjl2 .OPjnwhefpda {
    line-height: 17px;
    margin-top: 2px;
}

.pjnvlsid8 .OPjnvnv6da {
    margin-right: 8px !important;
}

.pjnvlsid8 .OPjnvnv6d9 {
    display: inline-block !important;
}

.pjnvlsid8 .OPjnvnv6dti {
    font-weight: bold !important;
}

.pjnvlsid8 .OPjnwj1owt {
    height: 55px !important;
}

.pjnvlsid8 .OPjnvo6ojo {
    display: inline-block !important;
    margin-top: 4px !important;
    padding: 0px !important;
    border-style: none !important;
    width: 100%;
}

.pjnvlsid8 .OCjnvo6ojo {
    margin-top: -4px;
    display: inline-block !important;
    width: 8px !important;
    float: left !important;
    flex: 0 0 8px !important;
    margin-left: -12px !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnvlsid8 .OPjnvnv6dzj {
    margin-top: -4px;
    float: none !important;
    width: 6px !important;
    height: 6px !important;
    text-align: left !important;
    flex: 0 0 6px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.pjnvlsid8 .OPjnvo6ojp {
    display: inline-block !important;
    float: left !important;
    padding: 0px !important;
    border-style: none !important;
    width: 100%;
}

.pjnvlsid8 .OPjnvnv6dum {
    float: left !important;
    text-align: lefts !important;
    padding: 0px !important;
    width: 100%;
}

.pjnvlsid8 .OPjnvo6ok5y {
    max-width: calc(100% - 54px);
    margin-right: 0px !important;
    font-weight: bold !important;
    line-height: 22px;
}

.pjnvlsid8 .OPjnvo6okgr {
    display: inline-block !important;
    margin-top: 4px !important;
    padding: 0px !important;
    border-top-style: none !important;
    border-bottom-style: none !important;
    border-left-style: none !important;
}

.pjnvlsid8 .OPjnvo6ok6b {
    display: inline-block !important;
    width: 8px !important;
    float: left !important;
    flex: 0 0 8px !important;
    margin-left: -12px !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnvlsid8 .OPjnvo6ok9y {
    display: inline-block !important;
    float: left !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnvlsid8 .OCjnvo6okcx {
    float: left !important;
    text-align: right !important;
    padding: 0px !important;
}

.pjnvlsid8 .OPjnvo6ok8e {
    font-weight: bold !important;
}

.pjnvlsid8 .OPjnvo6okjs {
    display: inline-block !important;
    margin-top: 4px !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnvlsid8 .OPjnvo6okkf {
    display: inline-block !important;
    width: 8px !important;
    float: left !important;
    flex: 0 0 8px !important;
    margin-left: -12px !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnvlsid8 .OCjnvo6okgt {
    display: inline-block !important;
    float: left !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnvlsid8 .OPjnvo6okio {
    float: left !important;
    text-align: right !important;
    padding: 0px !important;
}

.pjnvlsid8 .OPjnvo6oklo {
    font-weight: bold !important;
}

.pjnvlsid8 .OPjnvo6olrz {
    display: inline-block !important;
    margin-top: 4px !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnvlsid8 .OPjnvo6ol1x {
    display: inline-block !important;
    width: 8px !important;
    float: left !important;
    flex: 0 0 8px !important;
    margin-left: -12px !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnvlsid8 .OPjnvo6oklj {
    float: none !important;
    width: 6px !important;
    height: 6px !important;
    text-align: left !important;
    flex: 0 0 6px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.pjnvlsid8 .OPjnvo6olrk {
    display: inline-block !important;
    float: left !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnvlsid8 .OCjnvo6olqh {
    float: left !important;
    text-align: right !important;
    padding: 0px !important;
}

.pjnvlsid8 .OCjaus6vq4 {
    width: 100%;
}

.pjnvlsid8 .cjateqq0t {
    text-align: center;
}

.pjnvlsid8 .sjakwaao8 .OPjnvnv6dyr {
    line-height: 16px;
}

.pjnvlsid8 .messages-left {
    float: left;
    width: calc(100% - 132px);
}

.pjnvlsid8 .sjaku5l1q.OPjnvnv6dyr {
    float: left;
    margin-top: 3px;
    display: block;
    margin-left: 2px;
}

.pjnvlsid8 .messages-right {
    float: left;
    width: 132px;
    text-align: right;
}

.pjnvlsid8 .OPjnvo6ojp a {
    display: none;
}

.pjnvlsid8 .OPjnvo6ojp img {
    display: none;
}

.pjny8mi4q .OPjny9gi47 {
    width: 100% !important;
    flex: 0 0 100% !important;
}

.pjny8mi4q .OCjny9gi47 {
    width: 100% !important;
    flex: 0 0 100% !important;
}

.pjny8mi4q .OPjny9gi46 {
    top: 70px !important;
    position: absolute !important;
    text-align: center;
    width: 100% !important;
    float: left !important;
    height: 24px !important;
    flex: 0 0 100% !important;
}

.pjny8mi4q .OPjny9gi4qg {
    display: inline-block !important;
    float: none !important;
    font-size: 15px !important;
    font-weight: bold !important;
}

.pjny8mi4q .OPjny9gi4pn {
    display: inline-block !important;
    font-size: 15px !important;
    font-weight: bold !important;
    margin-left: 8px !important;
}

.pjny8mi4q .OPjny9gi91v {
    width: 100% !important;
    text-align: center !important;
    position: relative !important;
    top: -64px !important;
    height: 0px !important;
    flex: 0 0 100% !important;
}

.pjny8mi4q .OCjny9gi78r {
    font-weight: bold !important;
}

.pjny8mi4q .OPjny9gi4om {
    min-height: 200px !important;
    margin: 8px 15px 15px 15px !important;
    padding: 24px 24px 20px 24px !important;
}

.pjny8mi4q .OPjny9gi4ru {
    padding: 0px !important;
}

.pjny8mi4q .OPjny9gi4qa {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.pjny8mi4q .OCjny9gi4xf {
    font-weight: bold !important;
}

.pjny8mi4q .OPjny9gi4vj {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.pjny8mi4q .OCjny9gi4si {
    font-weight: bold !important;
}

.pjny8mi4q .OPjny9gi4xu {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.pjny8mi4q .OPjny9gi4ve {
    font-weight: bold !important;
}

.pjny8mi4q .OPjny9gi4zx {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.pjny8mi4q .OCjny9gi50f {
    font-weight: bold !important;
}

.pjny8mi4q .OPjny9gi5aq {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.pjny8mi4q .OCjny9gi57b {
    font-weight: bold !important;
}

.pjny8mi4q .OCjny9gi59i {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.pjny8mi4q .OPjny9gi5au {
    font-weight: bold !important;
}

.pjny8mi4q .OPjny9gi92p {
    width: 100% !important;
    text-align: center !important;
    flex: 0 0 100% !important;
    margin-top: 24px !important;
}

.pjny8mi4q .OPjny9gi96t {
    font-weight: bold !important;
    font-size: 18px !important;
    margin-top: 8px !important;
}

.mint-layout-container {
    position: relative;
}

.mint-layout-lr {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
}

.mint-layout-lr-item {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.sjakwaao8 {
    box-shadow: 0 4 2 0 #040404!important;
    padding: 12px!important;
    border-radius: 5px!important;
    border-width: 1px!important;
    border-style: solid!important;
}

.bh-bg-color-light {
    background-color: #fff!important;
}

.bh-border-color-gray-5 {
    border-color: #e8e8e8!important;
}

.mint-text {
    position: relative;
    word-break: break-word;
}

.sjakvxbio {
    font-size: 14px!important;
}

.bh-color-gray-3 {
    color: #92969c!important;
}

.sjaky9s9n {
    font-size: 14px!important;
}

.bh-color-gray {
    color: #1e2329!important;
}

.bh-color-light {
    color: #fff!important;
}

.sjakvvvmy {
    font-size: 18px!important;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F9F9F9;
    font-family: ZhiFont, ".SFNSText-Regular", "Helvetica Neue", Roboto, "Segoe UI", sans-serif;
}

.pjnwkcdsd .OPjnwm5uoc {
    margin-right: 8px !important;
}

.pjnwkcdsd .OPjnwm5uod {
    display: inline-block !important;
}

.pjnwkcdsd .OPjnwm5uoqy {
    text-align: center !important;
}

.pjnwkcdsd .OPjnwm5uosd {
    text-align: center !important;
    float: left !important;
    width: 45% !important;
    height: 136px !important;
    flex: 0 0 45% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    margin-bottom: 8px !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnwkcdsd .OPjnwm5uosr {
    font-size: 18px !important;
    color: #4D49FF !important;
    z-index: 99 !important;
    margin-top: 40px !important;
    margin-bottom: 8px !important;
}

.pjnwkcdsd .OPjnwvyv9e {
    display: inline-block !important;
    height: 20px !important;
    text-align: center !important;
    flex: 0 0 20px !important;
}

.pjnwkcdsd .OPjnwm5uoof {
    color: #4D49FF !important;
    font-weight: bold !important;
    font-size: 22px !important;
    display: inline-block !important;
}

.pjnwkcdsd .OPjnwm5uotf {
    text-align: center !important;
    float: left !important;
    width: 45% !important;
    height: 136px !important;
    flex: 0 0 45% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    margin-bottom: 8px !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnwkcdsd .OPjnwm5uows {
    font-size: 18px !important;
    color: #4D49FF !important;
    margin-top: 40px !important;
    margin-bottom: 8px !important;
}

.pjnwkcdsd .OPjnwvyv9f {
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
    text-align: center !important;
    flex: 0 0 20px !important;
}

.pjnwkcdsd .OPjnwm5up3m {
    color: #4D49FF !important;
    font-weight: bold !important;
    font-size: 18px !important;
    display: inline-block !important;
}

.pjnwkcdsd .OPjnwm5uoua {
    text-align: center !important;
    float: left !important;
    width: 45% !important;
    height: 136px !important;
    flex: 0 0 45% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    margin-bottom: 8px !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnwkcdsd .OPjnwm5uovw {
    font-size: 18px !important;
    color: #4D49FF !important;
    margin-top: 40px !important;
    margin-bottom: 8px !important;
}

.pjnwkcdsd .OPjnwvyv9qi {
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
    text-align: center !important;
    flex: 0 0 20px !important;
}

.pjnwkcdsd .OPjnwm5uoxa {
    color: #4D49FF !important;
    font-weight: bold !important;
    font-size: 18px !important;
    display: inline-block !important;
}

.pjnwkcdsd .OPjnwm5up1t {
    text-align: center !important;
    float: left !important;
    width: 45% !important;
    height: 136px !important;
    flex: 0 0 45% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    margin-bottom: 8px !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnwkcdsd .OPjnwm5up2m {
    font-size: 18px !important;
    color: #4D49FF !important;
    margin-top: 40px !important;
    margin-bottom: 8px !important;
}

.pjnwkcdsd .OPjnwvyv9ry {
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
    text-align: center !important;
    flex: 0 0 20px !important;
}

.pjnwkcdsd .OPjnwm5up1z {
    color: #4D49FF !important;
    font-weight: bold !important;
    font-size: 18px !important;
    display: inline-block !important;
}

.pjnwkcdsd .OPjnwm5up5x {
    text-align: center !important;
    float: left !important;
    width: 45% !important;
    height: 136px !important;
    flex: 0 0 45% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    margin-bottom: 8px !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnwkcdsd .OPjnwm5up4z {
    font-size: 18px !important;
    color: #4D49FF !important;
    margin-top: 40px !important;
    margin-bottom: 8px !important;
}

.pjnwkcdsd .OPjnwvyv9rf {
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
    text-align: center !important;
    flex: 0 0 20px !important;
}

.pjnwkcdsd .OPjnwm5up6v {
    color: #4D49FF !important;
    font-weight: bold !important;
    font-size: 18px !important;
    display: inline-block !important;
}

.pjnwkcdsd .OPjnwm5ur6l {
    text-align: center !important;
    float: left !important;
    width: 45% !important;
    height: 136px !important;
    flex: 0 0 45% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    margin-bottom: 8px !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnwkcdsd .OPjnwvyvc2k {
    display: inline-block !important;
    width: 30px !important;
    height: 30px !important;
    text-align: center !important;
    top: 3px !important;
    flex: 0 0 30px !important;
    margin-top: 40px !important;
}

.pjnwkcdsd .OPjnwm5upfj {
    font-size: 18px !important;
    color: #4D49FF !important;
    margin-top: 4px !important;
    margin-bottom: 8px !important;
}

.pjnwkcdsd .Ojmgdjwsg {
    display: flex;
    align-items: center;
}

.pjojopc23 .OPjojp8qmb {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.pjojopc23 .OPjojp8qmc {
    font-size: 14px !important;
    display: inline-block !important;
}

.pjojopc23 .OPjojp8qme {
    display: inline-block !important;
    margin-left: 8px !important;
}

.pjojopc23 .OPjojp8qmf {
    height: 8px !important;
}

.pjojopc23 .OPjojp8qmoz {
    border-color: #4D49FF !important;
    font-size: 18px !important;
    padding-left: 12px !important;
    display: inline-block !important;
    border-left-style: solid !important;
    border-left-width: 4px !important;
}

.pjojopc23 .OPjojp8qmqb {
    margin-top: 8px !important;
    margin-left: 0px !important;
    margin-bottom: 8px !important;
}

.pjojopc23 .OPjojp8qmtk {
    height: 8px !important;
}

.pjojopc23 .OPjojp8qmup {
    border-color: #4D49FF !important;
    font-size: 18px !important;
    display: inline-block !important;
    padding-left: 12px !important;
    border-left-style: solid !important;
    border-left-width: 4px !important;
}

.pjojopc23 .OPjojp8qndj {
    float: right !important;
    line-height: 19px;
}

.pjojopc23 .OPjojp8qncx {
    display: inline-block !important;
    float: right !important;
    line-height: 19px;
}

.pjojopc23 .OPjojp8qmpg {
    margin-top: 8px !important;
    margin-left: 0px !important;
    margin-bottom: 8px !important;
}

.pjojopc23 .OPjojp8qnfd {
    padding: 8px 0px !important;
}

.pjojopc23 .OPjojp8qmzf {
    height: 8px !important;
}

.pjojopc23 .OPjojp8qmvy {
    border-color: #4D49FF !important;
    font-size: 18px !important;
    padding-left: 12px !important;
    border-left-style: solid !important;
    border-left-width: 4px !important;
}

.pjojopc23 .OPjojp8qntb {
    margin-top: 8px !important;
    margin-left: 0px !important;
    margin-bottom: 8px !important;
}

.pjojopc23 .OPjnxy5856u {
    width: 100% !important;
    height: 44px !important;
    flex: 0 0 100% !important;
    z-index: 4;
}

.pjojopc23 .OPjnvboi6p {
    background-color: #4D49FF !important;
    border-radius: 0px 0px 0px 0px !important;
    height: 44px;
    width: 100%;
    font-size: 16px !important;
}

.pjojopc23 .OPjnvbo45p {
    float: left;
    border-radius: 0px 0px 0px 0px !important;
    height: 44px;
    width: 50%;
    font-size: 16px !important;
}

.pjojopc23 .OPjnvbo425 {
    float: left;
    border-radius: 0px 0px 0px 0px !important;
    height: 44px;
    width: 25%;
    font-size: 16px !important;
}

.pjojopc23 .OPjnvbo522 {
    float: left;
    border-radius: 0px 0px 0px 0px !important;
    height: 44px;
    width: 33%;
    font-size: 16px !important;
}

.pjojopc23 .no-border-btn {
    background-color: #4D49FF !important;
    border: none !important;
}

.pjojopc23 .Odsggedahh {
    margin-bottom: 50px;
}

.pjojopc23 .Ojdghdunhx {
    line-height: 16px;
}

.pjojopc23 .icon-wancheng.mt-color-primary {
    color: #52C7CA
}

.pjnvcge1l {
    padding-bottom: 50px;
}

.pjnvcge1l .sjakvwd5t.OCjaryvhmw {
    line-height: 22px;
}

.pjnve0mpe .OSdgsdge {
    width: 100% !important;
    display: inline-block !important;
    background-color: #4D49FF !important;
    float: none !important;
    text-align: center !important;
    flex: 0 0 48% !important;
    border-radius: 0px 0px 0px 0px !important;
}

.pjnvcruv4 .cjateqq0t {
    text-align: center;
}
.pjnwj8h4t .OPjnwjm68b {
    height: 12px !important;
}

.pjnwj8h4t .OPjnwjm68a {
    padding: 16px 20px !important;
}

.pjnwj8h4t .OPjnwjm68mb {
    padding: 0px !important;
    border-style: none !important;
}

.pjnwj8h4t .OPjnwjm68jo {
    font-weight: bold !important;
    float: left !important;
}

.pjnwj8h4t .OPjnwjm68lm {
    margin-top: 12px !important;
    padding: 0px !important;
    border-style: none !important;
    overflow: auto;
}

.pjnwj8h4t .OPjnwjm68lf {
    font-size: 15px !important;
}

.pjnwj8h4t .OPjnwj1owt {
    height: 55px !important;
}

.pjnwj8h4t .OPjnwjm68qa {
    margin-top: 16px !important;
    margin-left: 0px !important;
    margin-bottom: 16px !important;
}

.pjnwj8h4t .OPjnwjm68rg {
    padding: 0px !important;
    border-style: none !important;
}

.pjnwj8h4t .OPjnwjm68sb {
    display: inline-block !important;
    margin-top: 16px !important;
}

.pjnwj8h4t .OPjnwjm68nc {
    display: inline-block !important;
}

.pjnwj8h4t .OPjnwjm69kw {
    width: 78px !important;
    height: 30px !important;
    background-color: #4D49FF !important;
    flex: 0 0 78px !important;
}

.pjnwj8h4t .OPjnwjm68sq {
    display: inline-block !important;
    margin-left: 8px !important;
}

.pjnwj8h4t .OPjnwjm6azs {
    width: 78px !important;
    height: 30px !important;
    flex: 0 0 78px !important;
}

.pjnwj8h4t .OPjnxy9iqq {
    width: 100% !important;
    flex: 0 0 100% !important;
}

.pjnwj8h4t .OPjnwjm6ayz {
    background-color: #4D49FF !important;
    border-radius: 0px 0px 0px 0px !important;
    width: 100%;
    height: 44px;
    font-size: 18px !important;
}

.pjnwht58s .Osdggkdgd {
    border: none !important;
}

.pjnwht58s .OPjo8ct7k1 {
    padding-right: 20px !important;
    padding-top: 8px !important;
}

.pjnwht58s .OPjo8ct7k6u {
    display: inline-block !important;
    float: right !important;
    line-height: 19px;
}

.pjnwht58s .OPjo8ct7k2 {
    float: right !important;
    display: inline-block !important;
    font-size: 14px !important;
    line-height: 19px;
}

.pjnwht58s .OPjnwi125f {
    height: 12px !important;
}

.pjnwht58s .OPjnwi125lv {
    border-color: #4D49FF !important;
    font-weight: bold !important;
    padding-left: 8px !important;
    border-left-style: solid !important;
    border-left-width: 3px !important;
    line-height: 22px;
}

.pjnwht58s .OPjnwi57uk {
    margin-left: 20px !important;
}

.pjnwht58s .OPjnwiiiq5 {
    margin-left: 20px !important;
}

.pjnwht58s .OPjnwiiiqev {
    display: inline-block !important;
    float: right !important;
}

.pjnwht58s .OPjnwiiirgc {
    background-color: #4D49FF !important;
    width: 78px !important;
    height: 30px !important;
    flex: 0 0 78px !important;
}

.pjnwht58s .OPjnwiiiq6 {
    display: inline-block !important;
    float: right !important;
    margin-right: 8px !important;
}

.pjnwht58s .OPjnwiiiqdm {
    width: 78px !important;
    height: 30px !important;
    flex: 0 0 78px !important;
    border-radius: 30px 30px 30px 30px !important;
}

.pjnwht58s .OPjnwiii22m {
    width: 90px !important;
    height: 30px !important;
    flex: 0 0 78px !important;
    border-radius: 30px 30px 30px 30px !important;
}

.pjnwht58s .cjateqq0t {
    margin-top: 120px !important;
}

.pjnwht58s .icon-wancheng.mt-color-primary {
    color: #52C7CA
}

.pjnxwc5t7 .OPjnxy5856u .OPjnvboi6p {
    background-color: #4D49FF !important;
    border-radius: 0px 0px 0px 0px !important;
    height: 44px;
    width: 100%;
    font-size: 18px !important;
}

.pjnxwc5t7 .OPjnxy5dfs {
    display: inline-block !important;
    width: 25% !important;
    height: 50px !important;
    float: left !important;
    text-align: center !important;
    flex: 0 0 25% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-style: none !important;
    border-radius: 0px 0px 0px 0px !important;
}

.pjnxwc5t7 .mint-cell-wrapper {
    border: none;
}

.pjnxwc5t7 .cjateqq0t {
    text-align: center;
    padding-top: 40px;
}

.pjnxwc5t7 .sjaku5l1q {
    line-height: 17px;
}

.pjnxwc5t7 .OPjnxy584m {
    text-align: center !important;
}

.pjnxwc5t7 .OCjnxy584p {
    width: 90% !important;
}

.pjnxwc5t7 .OPjnxy5851p {
    display: inline-block;
}

.pjnxwc5t7 .OPjnxy584l {
    display: inline-block !important;
    color: #8C8C9D !important;
    margin-left: 8px !important;
}

.pjnxwc5t7 .OPjnxy584p {
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.pjnxwc5t7 .OPjnxy5850w {
    width: 30px !important;
    flex: 0 0 30px !important;
}

.pjnxwc5t7 .OPjnxy5856i {
    padding-top: 8px !important;
}

.pjnxwc5t7 .OPjnxy5856u {
    width: 100% !important;
    height: 50px !important;
    flex: 0 0 100% !important;
}

.pjnxwc5t7 .OPjnxy5851s {
    display: inline-block !important;
    width: 25% !important;
    height: 50px !important;
    float: left !important;
    flex: 0 0 25% !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    border-style: none !important;
    border-radius: 0px 0px 0px 0px !important;
}

.pjnxwc5t7 .OPjnxy5879l {
    height: 40px !important;
    line-height: 40px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.pjnxwc5t7 .OCjnxy5857v {
    display: inline-block !important;
    width: 25% !important;
    height: 50px !important;
    float: right;
    !important;
    text-align: center !important;
    flex: 0 0 25% !important;
    padding: 12px 0px !important;
    border-style: none !important;
    border-radius: 0px 0px 0px 0px !important;
}

.pjnxwc5t7 .OPjnxy5878m {
    height: 28px !important;
    min-width: 78px !important;
    max-width: 78px !important;
}

.pjnxwc5t7 .OPjnxy5856o {
    display: inline-block !important;
    width: 25% !important;
    height: 50px !important;
    float: left !important;
    text-align: center !important;
    flex: 0 0 25% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-style: none !important;
    border-radius: 0px 0px 0px 0px !important;
}

.pjnxwc5t7 .OPjnxy5876o {
    min-width: 78px !important;
    max-width: 78px !important;
}

.pjnxwc5t7 .OPjnxy5858k {
    display: inline-block !important;
    width: 25% !important;
    height: 50px !important;
    float: right !important;
    text-align: center !important;
    flex: 0 0 25% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-style: none !important;
    border-radius: 0px 0px 0px 0px !important;
}

.pjnxwc5t7 .OPjnxy587am {
    min-width: 78px !important;
    background-color: #4D49FF !important;
    border-color: #4D49FF !important;
}

.pjnxwc5t7 .cjat8kd2r .sjaku1g03 {
    padding-top: 12px !important;
    padding-right: 20px !important;
    padding-bottom: 12px !important;
    padding-left: 0px !important;
}

.pjnwjsd1z .OPjnwjzdt5 {
    height: 12px !important;
}

.pjnwjsd1z .OPjnwj1owt {
    height: 55px !important;
}

.pjnwjsd1z .OPjnwjzdt6 {
    padding: 16px 20px !important;
}

.pjnwjsd1z .OPjnwjzdtfo {
    padding: 0px !important;
    border-style: none !important;
}

.pjnwjsd1z .OPjnwjzdter {
    font-weight: bold !important;
    float: left !important;
}

.pjnwjsd1z .OPjnwjzdtje {
    margin-top: 8px !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnwjsd1z .OPjnwjzdtdq {
    margin-top: 12px !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnwjsd1z .OPjnwjzdtgy {
    font-size: 15px !important;
}

.pjnwjsd1z .OPjnwjzdtez {
    margin-top: 16px !important;
    margin-left: 0px !important;
    margin-bottom: 16px !important;
}

.pjnwjsd1z .OPjnwjzdtea {
    background-color: #F3F5F6 !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjnwjsd1z .OPjnwjzdyee {
    background-color: #F3F5F6 !important;
    border-style: none !important;
}

.pjnwjsd1z .OPjnwjzdv2n {
    font-weight: bold !important;
}

.pjnwjsd1z .OPjnwjzdylp {
    background-color: #F3F5F6 !important;
    padding-top: 4px !important;
    border-style: none !important;
}

.pjnwjsd1z .OPjnxy6nkz {
    width: 100% !important;
    flex: 0 0 100% !important;
}

.pjnwjsd1z .OPjnwjzdtiq {
    background-color: #4D49FF !important;
    border-radius: 0px 0px 0px 0px !important;
    width: 100%;
    height: 44px;
    font-size: 18px !important;
}

.pjop2rtma .OPjop2vo8s {
    height: 12px !important;
}

.pjop2rtma .OPjop2vo8r {
    padding: 16px 20px !important;
}

.pjop2rtma .OPjop2vo8yo {
    padding: 0px !important;
    border-style: none !important;
}

.pjop2rtma .OPjop2vo8yw {
    font-weight: bold !important;
    float: left !important;
}

.pjop2rtma .OPjop2voa4l {
    margin-top: 12px !important;
    padding: 0px !important;
    border-style: none !important;
}

.pjop2rtma .OPjop2vo94f {
    font-size: 15px !important;
}

.pjop2rtma .OPjop2vo90r {
    margin-top: 16px !important;
    margin-left: 0px !important;
    margin-bottom: 16px !important;
}

.pjop2rtma .OPjop2vo8ze {
    background-color: #4D49FF !important;
    width: 90% !important;
    text-align: center !important;
    flex: 0 0 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 30px !important;
}

.pjonx8iks .OPjonxchqs {
    height: 12px !important;
}

.pjonx8iks .OPjonxchr0t {
    height: 12px !important;
}

.pjonx8iks .OPjonxchsas {
    margin-top: 0px !important;
}

.pjonx8iks .OPjonxchr1q {
    margin-top: 0px !important;
}

.pjonx8iks .OPjonxchqt {
    width: 250px !important;
}

.pjonx8iks .OPjonxchr1q {
    width: 250px !important;
}


